<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.censoft.insideUserManage.insideSystem.mapper.InsideSystemInfoMapper">

    <resultMap type="InsideSystemInfo" id="InsideSystemInfoResult">
        <result property="insideSystemId" column="inside_system_id"/>
        <result property="joinsysCode" column="joinsys_code"/>
        <result property="icon" column="icon"/>
        <result property="name" column="name"/>
        <result property="realmPlace" column="realm_place"/>
        <result property="returnUrl" column="return_url"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectInsideSystemInfoVo">
        select inside_system_id, joinsys_code, icon, name, realm_place, return_url, status, remark, create_time,
        create_by, update_time, update_by, version, del_flag from inside_system_info
    </sql>

    <select id="selectInsideSystemInfoList" parameterType="InsideSystemInfo" resultMap="InsideSystemInfoResult">
        <include refid="selectInsideSystemInfoVo"/>
        <where>
            del_flag = 0
            <if test="joinsysCode != null  and joinsysCode != ''">and joinsys_code = #{joinsysCode}</if>
            <if test="icon != null  and icon != ''">and icon = #{icon}</if>
            <if test="name != null  and name != ''">and name like '%' || #{name} || '%'</if>
            <if test="realmPlace != null  and realmPlace != ''">and realm_place = #{realmPlace}</if>
            <if test="returnUrl != null  and returnUrl != ''">and return_url = #{returnUrl}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="version != null ">and version = #{version}</if>
        </where>
    </select>

    <select id="selectInsideSystemInfoById" parameterType="String" resultMap="InsideSystemInfoResult">
        <include refid="selectInsideSystemInfoVo"/>
        where inside_system_id = #{insideSystemId}
    </select>

    <insert id="insertInsideSystemInfo" parameterType="InsideSystemInfo" useGeneratedKeys="true"
            keyProperty="insideSystemId">
        insert into inside_system_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="insideSystemId != null  and insideSystemId != ''">inside_system_id,</if>
            <if test="joinsysCode != null  and joinsysCode != ''">joinsys_code,</if>
            <if test="icon != null  and icon != ''">icon,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="realmPlace != null  and realmPlace != ''">realm_place,</if>
            <if test="returnUrl != null  and returnUrl != ''">return_url,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            version,
            del_flag
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="insideSystemId != null  and insideSystemId != ''">#{insideSystemId},</if>
            <if test="joinsysCode != null  and joinsysCode != ''">#{joinsysCode},</if>
            <if test="icon != null  and icon != ''">#{icon},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="realmPlace != null  and realmPlace != ''">#{realmPlace},</if>
            <if test="returnUrl != null  and returnUrl != ''">#{returnUrl},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            0,0
        </trim>
    </insert>

    <update id="updateInsideSystemInfo" parameterType="InsideSystemInfo">
        update inside_system_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="joinsysCode != null  and joinsysCode != ''">joinsys_code = #{joinsysCode},</if>
            <if test="icon != null  and icon != ''">icon = #{icon},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="realmPlace != null  and realmPlace != ''">realm_place = #{realmPlace},</if>
            <if test="returnUrl != null  and returnUrl != ''">return_url = #{returnUrl},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="version != null ">version = #{version},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
        </trim>
        where inside_system_id = #{insideSystemId}
    </update>

    <delete id="deleteInsideSystemInfoById" parameterType="String">
        delete from inside_system_info where inside_system_id = #{insideSystemId}
    </delete>

    <delete id="deleteInsideSystemInfoByIds" parameterType="String">
        delete from inside_system_info where inside_system_id in
        <foreach item="insideSystemId" collection="array" open="(" separator="," close=")">
            #{insideSystemId}
        </foreach>
    </delete>

    <select id="getSystemListInfoByIds" parameterType="String" resultMap="InsideSystemInfoResult">
        select inside_system_id, joinsys_code, icon, name, realm_place, return_url, status from inside_system_info
        where inside_system_id in
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
        and del_flag = 0
        and status = 1
    </select>
</mapper>
