<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.censoft.personallogin.mapper.PersonalUserLoginMapper">

    <resultMap type="PersonalUserLogin" id="PersonalUserLoginResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="phoneIscheck"    column="phone_ischeck"    />
        <result property="phone"    column="phone"    />
        <result property="emailIscheck"    column="email_ischeck"    />
        <result property="email"    column="email"    />
        <result property="password"    column="password"    />
        <result property="idnumber"    column="idnumber"    />
        <result property="alipayId"    column="alipay_id"    />
        <result property="wecharId"    column="wechar_id"    />
        <result property="tolinkedId"    column="tolinked_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="PersonalUserInfo" id="PersonalUserInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="cardType"    column="card_type"    />
        <result property="cardNo"    column="card_no"    />
        <result property="nationality"    column="nationality"    />
        <result property="dateOfBirth"    column="date_of_birth"    />
        <result property="gender"    column="gender"    />
        <result property="email"    column="email"    />
        <result property="phone"    column="phone"    />
        <result property="remark"    column="remark"    />
        <result property="version"    column="version"    />
        <result property="name"    column="name"    />
        <result property="password"    column="password"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="authlevel"    column="authlevel"    />
    </resultMap>

    <resultMap id="PersonalUserLoginResult1" type="com.censoft.personallogin.domain.PersonalUserLogin">
        <result property="id" column="id"/>
        <result property="userId" column="USER_ID"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="idnumber" column="idnumber"/>
        <result property="password" column="password"/>
        <result property="alipayId" column="alipay_id"/>
        <result property="wecharId" column="wechar_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectPersonalUserLoginVo">
        select id, user_id, name, phone_ischeck, phone, email_ischeck, email, password, idnumber, alipay_id, wechar_id, tolinked_id, status, create_time, create_by, update_time, update_by, version, del_flag from personal_user_login
    </sql>

    <select id="selectPersonalUserLoginList" parameterType="PersonalUserLogin" resultMap="PersonalUserLoginResult">
        <include refid="selectPersonalUserLoginVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like  '%' ||  #{name} || '%'</if>
            <if test="phoneIscheck != null "> and phone_ischeck = #{phoneIscheck}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="emailIscheck != null "> and email_ischeck = #{emailIscheck}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="idnumber != null  and idnumber != ''"> and idnumber = #{idnumber}</if>
            <if test="alipayId != null  and alipayId != ''"> and alipay_id = #{alipayId}</if>
            <if test="wecharId != null  and wecharId != ''"> and wechar_id = #{wecharId}</if>
            <if test="tolinkedId != null  and tolinkedId != ''"> and tolinked_id = #{tolinkedId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>

    <!--取第一条-->
    <select id="login" parameterType="PersonalUserLogin" resultMap="PersonalUserInfoResult">
        select u.user_id, u.user_name, u.card_type, u.card_no, u.authlevel, u.avatar_url,u.nick_name, u.nationality, u.date_of_birth, u.gender, u.email, u.phone, u.remark ,u.version ,i.name, i.password from personal_user_info u
        left join  personal_user_login i on i.user_id=u.user_id
        <where>
            <if test="name != null  and name != ''"> and i.name = #{name}</if>
            <if test="phone != null  and phone != ''">
                and i.phone = #{phone}
                and i.phone_ischeck = 1
            </if>
            <if test="email != null  and email != ''">
                and i.email = #{email}
                and i.email_ischeck = 1
            </if>
            <if test="idnumber != null  and idnumber != ''"> and i.idnumber = #{idnumber}</if>
        </where>
        and u.status = 1
        and u.del_flag = 0
        and ROWNUM &lt;=  1
    </select>



    <select id="selectPersonalUserLoginById" parameterType="String" resultMap="PersonalUserLoginResult">
        <include refid="selectPersonalUserLoginVo"/>
        where id = #{id}
    </select>

    <insert id="insertPersonalUserLogin" parameterType="PersonalUserLogin" useGeneratedKeys="true" keyProperty="id">
        insert into personal_user_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="phoneIscheck != null ">phone_ischeck,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="emailIscheck != null ">email_ischeck,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="idnumber != null  and idnumber != ''">idnumber,</if>
            <if test="alipayId != null  and alipayId != ''">alipay_id,</if>
            <if test="wecharId != null  and wecharId != ''">wechar_id,</if>
            <if test="tolinkedId != null  and tolinkedId != ''">tolinked_id,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="version != null ">version,</if>
            <if test="delFlag != null ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="phoneIscheck != null ">#{phoneIscheck},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="emailIscheck != null ">#{emailIscheck},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="idnumber != null  and idnumber != ''">#{idnumber},</if>
            <if test="alipayId != null  and alipayId != ''">#{alipayId},</if>
            <if test="wecharId != null  and wecharId != ''">#{wecharId},</if>
            <if test="tolinkedId != null  and tolinkedId != ''">#{tolinkedId},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="version != null ">#{version},</if>
            <if test="delFlag != null ">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updatePersonalUserLogin" parameterType="PersonalUserLogin">
        update personal_user_login
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="phoneIscheck != null ">phone_ischeck = #{phoneIscheck},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="emailIscheck != null ">email_ischeck = #{emailIscheck},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="idnumber != null  and idnumber != ''">idnumber = #{idnumber},</if>
            <if test="alipayId != null  and alipayId != ''">alipay_id = #{alipayId},</if>
            <if test="wecharId != null  and wecharId != ''">wechar_id = #{wecharId},</if>
            <if test="tolinkedId != null  and tolinkedId != ''">tolinked_id = #{tolinkedId},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="version != null ">version = #{version},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePersonalUserLoginById" parameterType="String">
        delete from personal_user_login where id = #{id}
    </delete>

    <delete id="deletePersonalUserLoginByIds" parameterType="String">
        delete from personal_user_login where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getUserInfoById" parameterType="String" resultMap="PersonalUserInfoResult">
    select u.user_id, u.user_name, u.card_type, u.card_no, u.nationality, u.date_of_birth, u.gender, u.email, u.phone, u.remark ,u.version ,i.name, i.password from personal_user_info u
    left join  personal_user_login i on i.user_id=u.user_id
    where u.user_id=#{userId}
    </select>
    <select id="selectLoginInfo" resultMap="PersonalUserLoginResult1">
        select * from PERSONAL_USER_Login where USER_ID = #{userId,jdbcType=VARCHAR}
    </select>

    <update id="updateUserPwd" parameterType="String">
        update
        <if test="userType == 'personal' ">personal_user_login </if>
        <if test="userType == 'organ' ">orgen_user_login </if>
        set
         password =#{passWord},
        create_by= #{updateBy},
        update_time= sysdate
        where
        <if test="userType == 'personal' ">user_id </if>
        <if test="userType == 'organ' ">oeg_user_id </if>
        =#{userId}
    </update>


</mapper>
