<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.censoft.userregister.dao.ForgetPasswordMapper">

        <insert id="saveArtificialInfo" >
            insert into find_personal_info
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null  and id != ''">id,</if>
                <if test="nationality != null  and nationality != ''">nationality,</if>
                <if test="userName != null  and userName != ''">user_name,</if>
                <if test="cardType != null  and cardType != ''">card_type,</if>
                <if test="cardNo != null  and cardNo != ''">card_no,</if>
                <if test="mobile != null  and mobile != ''">mobile,</if>
                <if test="email != null  and email != ''">email,</if>
                <if test="password != null  and password != ''">password,</if>
                <if test="fileUrl != null  and fileUrl != ''">file_url,</if>
                <if test="status != null  and status != ''">status,</if>
                <if test="remark != null  and remark != ''">remark,</if>
                <if test="createTime != null ">create_time,</if>
                <if test="createBy != null  and createBy != ''">create_by,</if>
                <if test="updateTime != null ">update_time,</if>
                <if test="updateBy != null  and updateBy != ''">update_by,</if>
                <if test="version != null ">version,</if>
                <if test="delFlag != null ">del_flag,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null  and id != ''">#{id},</if>
                <if test="nationality != null  and nationality != ''">#{nationality},</if>
                <if test="userName != null  and userName != ''">#{userName},</if>
                <if test="cardType != null  and cardType != ''">#{cardType},</if>
                <if test="cardNo != null  and cardNo != ''">#{cardNo},</if>
                <if test="mobile != null  and mobile != ''">#{mobile},</if>
                <if test="email != null  and email != ''">#{email},</if>
                <if test="password != null  and password != ''">#{password},</if>
                <if test="fileUrl != null  and fileUrl != ''">#{fileUrl},</if>
                <if test="status != null  and status != ''">#{status},</if>
                <if test="remark != null  and remark != ''">#{remark},</if>
                <if test="createTime != null ">#{createTime},</if>
                <if test="createBy != null  and createBy != ''">#{createBy},</if>
                <if test="updateTime != null ">#{updateTime},</if>
                <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
                <if test="version != null ">#{version},</if>
                <if test="delFlag != null ">#{delFlag},</if>
            </trim>
        </insert>


    <update id="updatePassword">
update  PERSONAL_USER_LOGIN set password = #{password,jdbcType=VARCHAR},UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
          where  phone = #{phone,jdbcType=VARCHAR} and del_flag = '0' and phone_Ischeck = 1
    </update>
    <update id="updateEmailPassword">
update  PERSONAL_USER_LOGIN set password = #{password,jdbcType=VARCHAR},UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
          where  email = #{email,jdbcType=VARCHAR} and del_flag = '0' and email_Ischeck = 1
    </update>
    <select id="selectNameNoInfo" resultType="java.lang.Boolean">
SELECT count(1) from PERSONAL_USER_INFO where user_Name=#{userName} and card_No = #{cardNo} and del_flag = '0'
    </select>
    <select id="selectLoginInfo" resultType="com.censoft.userregister.domain.PersonalUserLogin">
        select * from PERSONAL_USER_LOGIN where phone=#{phone,jdbcType=VARCHAR} and phone_Ischeck = 1 and del_flag = '0'
    </select>
    <select id="selectLoginInfoByEmail" resultType="com.censoft.userregister.domain.PersonalUserLogin">
        select * from PERSONAL_USER_LOGIN where email=#{email,jdbcType=VARCHAR} and email_Ischeck = 1 and del_flag = '0'
    </select>
    <select id="selectFindInfo" resultType="java.lang.Boolean">
        SELECT count(1) FROM FIND_PERSONAL_INFO where USER_NAME = #{userName,jdbcType=VARCHAR} and CARD_NO= #{cardNo,jdbcType=VARCHAR} and STATUS = '0' and del_flag = '0'
    </select>
</mapper>