<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.censoft.personalcenter.personalUser.mapper.PersonalAbroafdstudyInfoMapper">
    
    <resultMap type="PersonalAbroafdstudyInfo" id="PersonalAbroafdstudyInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="abroadCountry"    column="abroad_country"    />
        <result property="abroadType"    column="abroad_type"    />
        <result property="abroadUniversity"    column="abroad_university"    />
        <result property="nativeClass"    column="native_class"    />
        <result property="major"    column="major"    />
        <result property="grade"    column="grade"    />
        <result property="startTime"    column="start_time"    />
        <result property="finishTime"    column="finish_time"    />
        <result property="webUrl"    column="web_url"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="version"    column="version"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectPersonalAbroafdstudyInfoVo">
        select id, user_id, abroad_country, abroad_type, abroad_university, native_class, major, grade, start_time, finish_time, web_url, remark, create_time, create_by, update_time, update_by, version, del_flag from personal_abroafdstudy_info
    </sql>

    <select id="selectPersonalAbroafdstudyInfoList" parameterType="PersonalAbroafdstudyInfo" resultMap="PersonalAbroafdstudyInfoResult">
        <include refid="selectPersonalAbroafdstudyInfoVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="abroadCountry != null  and abroadCountry != ''"> and abroad_country = #{abroadCountry}</if>
            <if test="abroadType != null  and abroadType != ''"> and abroad_type = #{abroadType}</if>
            <if test="abroadUniversity != null  and abroadUniversity != ''"> and abroad_university = #{abroadUniversity}</if>
            <if test="nativeClass != null  and nativeClass != ''"> and native_class = #{nativeClass}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="finishTime != null "> and finish_time = #{finishTime}</if>
            <if test="webUrl != null  and webUrl != ''"> and web_url = #{webUrl}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>
    
    <select id="selectPersonalAbroafdstudyInfoById" parameterType="String" resultMap="PersonalAbroafdstudyInfoResult">
        <include refid="selectPersonalAbroafdstudyInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPersonalAbroafdstudyInfo" parameterType="PersonalAbroafdstudyInfo" useGeneratedKeys="false" keyProperty="id">
        insert into personal_abroafdstudy_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="abroadCountry != null  and abroadCountry != ''">abroad_country,</if>
            <if test="abroadType != null  and abroadType != ''">abroad_type,</if>
            <if test="abroadUniversity != null  and abroadUniversity != ''">abroad_university,</if>
            <if test="nativeClass != null  and nativeClass != ''">native_class,</if>
            <if test="major != null  and major != ''">major,</if>
            <if test="grade != null  and grade != ''">grade,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="finishTime != null ">finish_time,</if>
            <if test="webUrl != null  and webUrl != ''">web_url,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="version != null ">version,</if>
            <if test="delFlag != null ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="abroadCountry != null  and abroadCountry != ''">#{abroadCountry},</if>
            <if test="abroadType != null  and abroadType != ''">#{abroadType},</if>
            <if test="abroadUniversity != null  and abroadUniversity != ''">#{abroadUniversity},</if>
            <if test="nativeClass != null  and nativeClass != ''">#{nativeClass},</if>
            <if test="major != null  and major != ''">#{major},</if>
            <if test="grade != null  and grade != ''">#{grade},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="finishTime != null ">#{finishTime},</if>
            <if test="webUrl != null  and webUrl != ''">#{webUrl},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="version != null ">#{version},</if>
            <if test="delFlag != null ">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updatePersonalAbroafdstudyInfo" parameterType="PersonalAbroafdstudyInfo">
        update personal_abroafdstudy_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="abroadCountry != null  and abroadCountry != ''">abroad_country = #{abroadCountry},</if>
            <if test="abroadType != null  and abroadType != ''">abroad_type = #{abroadType},</if>
            <if test="abroadUniversity != null  and abroadUniversity != ''">abroad_university = #{abroadUniversity},</if>
            <if test="nativeClass != null  and nativeClass != ''">native_class = #{nativeClass},</if>
            <if test="major != null  and major != ''">major = #{major},</if>
            <if test="grade != null  and grade != ''">grade = #{grade},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="finishTime != null ">finish_time = #{finishTime},</if>
            <if test="webUrl != null  and webUrl != ''">web_url = #{webUrl},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            version = version + 1
        </trim>
        where id = #{id}
        and version = #{version}
    </update>

    <delete id="deletePersonalAbroafdstudyInfoById" parameterType="String">
        delete from personal_abroafdstudy_info where id = #{id}
    </delete>

    <delete id="deletePersonalAbroafdstudyInfoByIds" parameterType="String">
        delete from personal_abroafdstudy_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>